---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/videos/search?page=1&per_page=10&query=nature
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ef8e8cf8ec61cab3330f5618f100733"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24843'
      X-Ratelimit-Reset:
      - '1745661799'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":10,"videos":[{"id":3571264,"width":3840,"height":2160,"duration":33,"full_res":null,"tags":[],"url":"https://www.pexels.com/video/drone-view-of-big-waves-rushing-to-the-shore-3571264/","image":"https://images.pexels.com/videos/3571264/free-video-3571264.jpg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=630\u0026w=1200","avg_color":null,"user":{"id":1498112,"name":"Enrique
        from Pexels","url":"https://www.pexels.com/@enrique"},"video_files":[{"id":9326316,"quality":"uhd","file_type":"video/mp4","width":2560,"height":1440,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/3571264/3571264-uhd_2560_1440_30fps.mp4","size":56038183},{"id":9326361,"quality":"sd","file_type":"video/mp4","width":640,"height":360,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/3571264/3571264-sd_640_360_30fps.mp4","size":2698716},{"id":9326423,"quality":"sd","file_type":"video/mp4","width":960,"height":540,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/3571264/3571264-sd_960_540_30fps.mp4","size":7351467},{"id":9326528,"quality":"uhd","file_type":"video/mp4","width":3840,"height":2160,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/3571264/3571264-uhd_3840_2160_30fps.mp4","size":102847535},{"id":9326609,"quality":"sd","file_type":"video/mp4","width":426,"height":240,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/3571264/3571264-sd_426_240_30fps.mp4","size":1649735},{"id":9326703,"quality":"hd","file_type":"video/mp4","width":1280,"height":720,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/3571264/3571264-hd_1280_720_30fps.mp4","size":12645253},{"id":9326816,"quality":"hd","file_type":"video/mp4","width":1920,"height":1080,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/3571264/3571264-hd_1920_1080_30fps.mp4","size":24077062}],"video_pictures":[{"id":815098,"nr":0,"picture":"https://images.pexels.com/videos/3571264/pictures/preview-0.jpg"},{"id":815099,"nr":1,"picture":"https://images.pexels.com/videos/3571264/pictures/preview-1.jpg"},{"id":815100,"nr":2,"picture":"https://images.pexels.com/videos/3571264/pictures/preview-2.jpg"},{"id":815101,"nr":3,"picture":"https://images.pexels.com/videos/3571264/pictures/preview-3.jpg"},{"id":815102,"nr":4,"picture":"https://images.pexels.com/videos/3571264/pictures/preview-4.jpg"},{"id":815103,"nr":5,"picture":"https://images[...]
