---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/videos/search?page=2&per_page=5&query=nature
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7676f7e1ecfd7d0043f78eb302e9e517"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24833'
      X-Ratelimit-Reset:
      - '1745661799'
    body:
      encoding: ASCII-8BIT
      string: '{"page":2,"per_page":5,"videos":[{"id":8820216,"width":3840,"height":2160,"duration":20,"full_res":null,"tags":[],"url":"https://www.pexels.com/video/aerial-shot-of-a-landscape-8820216/","image":"https://images.pexels.com/videos/8820216/aerial-footage-aerial-video-aerial-view-at-the-beach-8820216.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=630\u0026w=1200","avg_color":null,"user":{"id":1522664,"name":"Taryn
        Elliott","url":"https://www.pexels.com/@taryn-elliott"},"video_files":[{"id":10962308,"quality":"sd","file_type":"video/mp4","width":960,"height":540,"fps":25.0,"link":"https://videos.pexels.com/video-files/8820216/8820216-sd_960_540_25fps.mp4","size":3675377},{"id":10962345,"quality":"hd","file_type":"video/mp4","width":1920,"height":1080,"fps":25.0,"link":"https://videos.pexels.com/video-files/8820216/8820216-hd_1920_1080_25fps.mp4","size":12890558},{"id":10962399,"quality":"uhd","file_type":"video/mp4","width":2560,"height":1440,"fps":25.0,"link":"https://videos.pexels.com/video-files/8820216/8820216-uhd_2560_1440_25fps.mp4","size":20794085},{"id":10962546,"quality":"uhd","file_type":"video/mp4","width":3840,"height":2160,"fps":25.0,"link":"https://videos.pexels.com/video-files/8820216/8820216-uhd_3840_2160_25fps.mp4","size":42736202},{"id":10962595,"quality":"hd","file_type":"video/mp4","width":1280,"height":720,"fps":25.0,"link":"https://videos.pexels.com/video-files/8820216/8820216-hd_1280_720_25fps.mp4","size":6430532},{"id":10962637,"quality":"sd","file_type":"video/mp4","width":426,"height":240,"fps":25.0,"link":"https://videos.pexels.com/video-files/8820216/8820216-sd_426_240_25fps.mp4","size":804090},{"id":10962702,"quality":"sd","file_type":"video/mp4","width":640,"height":360,"fps":25.0,"link":"https://videos.pexels.com/video-files/8820216/8820216-sd_640_360_25fps.mp4","size":1358103}],"video_pictures":[{"id":8879206,"nr":0,"picture":"https://images.pexels.com/videos/8820216/pictures/preview-0.jpeg"},{"id":8879209,"nr":1,"picture":"https://images.pexels.com/videos/8820216/pictures/preview-1.jpeg"},{"id":8879213,"nr":2,"picture":"https://images.pexels.com/videos/8820216/pictures/preview-2.jpeg"},{"id":8879217,"nr":3,"picture":"https://images.pexels.com/videos/8820216/pictures/preview-3.jpeg"},{"id":8879221,"nr":4,"picture":"https://images.pexels.com/videos/8820216/pictures/preview-4.jpeg"},{"id":8879228,"nr":5,"picture":"http[...]
