---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/videos/search?page=1&per_page=10&query=ajskdhaskjdhkajshdkjashdkjahsdkjahskdjhaksjdhakjshd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b197411b719f637a6cfc026e276aae60"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24832'
      X-Ratelimit-Reset:
      - '1745661799'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":10,"videos":[],"total_results":0,"url":"https://api-server.pexels.com/search/videos/ajskdhaskjdhkajshdkjashdkjahsdkjahskdjhaksjdhakjshd/"}'
  recorded_at: Tue, 01 Apr 2025 10:18:38 GMT
recorded_with: VCR 6.3.1
