---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/videos/videos/2499611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d525a5761313255d325f9c87b5d02c6f"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24831'
      X-Ratelimit-Reset:
      - '1745661799'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2499611,"width":1080,"height":1920,"duration":22,"full_res":null,"tags":[],"url":"https://www.pexels.com/video/2499611/","image":"https://images.pexels.com/videos/2499611/free-video-2499611.jpg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=630","avg_color":null,"user":{"id":680589,"name":"Joey
        F","url":"https://www.pexels.com/@joey"},"video_files":[{"id":9240691,"quality":"sd","file_type":"video/mp4","width":360,"height":640,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/2499611/2499611-sd_360_640_30fps.mp4","size":1747225},{"id":9240823,"quality":"hd","file_type":"video/mp4","width":720,"height":1280,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/2499611/2499611-hd_720_1280_30fps.mp4","size":8030018},{"id":9240954,"quality":"sd","file_type":"video/mp4","width":540,"height":960,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/2499611/2499611-sd_540_960_30fps.mp4","size":4095233},{"id":9241064,"quality":"hd","file_type":"video/mp4","width":1080,"height":1920,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/2499611/2499611-hd_1080_1920_30fps.mp4","size":15515394},{"id":9241169,"quality":"sd","file_type":"video/mp4","width":240,"height":426,"fps":29.969999313354492,"link":"https://videos.pexels.com/video-files/2499611/2499611-sd_240_426_30fps.mp4","size":967799}],"video_pictures":[{"id":308178,"nr":0,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-0.jpeg"},{"id":308179,"nr":1,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-1.jpeg"},{"id":308180,"nr":2,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-2.jpeg"},{"id":308181,"nr":3,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-3.jpeg"},{"id":308182,"nr":4,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-4.jpeg"},{"id":308183,"nr":5,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-5.jpeg"},{"id":308184,"nr":6,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-6.jpeg"},{"id":308185,"nr":7,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-7.jpeg"},{"id":308186,"nr":8,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-8.jpeg"},{"id":308187,"nr":9,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-9.jpeg"},{"id":308188,"nr":10,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-10.jpeg"},{"id":308189,"nr":11,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-11.jpeg"},{"id":308190,"nr":12,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-12.jpeg"},{"id":308191,"nr":13,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-13.jpeg"},{"id":308192,"nr":14,"picture":"https://images.pexels.com/videos/2499611/pictures/preview-14.jpeg"}]}'
  recorded_at: Tue, 01 Apr 2025 10:18:38 GMT
recorded_with: VCR 6.3.1
